
			
			
			ul, ol {
				list-style:none;
			}
			
			.nav > li {
				float:left;
			}
			
			.nav li a {
				
				color:#000;
				text-decoration:none;
				padding:10px 12px;
				display:block;
			}
			
			.nav li a:hover {
				background-color:#fff;
			}
			
			.nav li ul {
				display:none;
				position:absolute;
				min-width:140px;
			}
			
			.nav li:hover > ul {
				display:block;
                z-index:+20;
			}
			
			.nav li ul li {
				position:relative;
                background-color: white;
                opacity: 1;
			}
			
			.nav li ul li ul {
				right:-140px;
				top:0px;
			}
			
		